<div class = 'container'>
    {{#if dataColumns}}
        <h3>New {{title}}</h3>
        <form action={{postHref}} method='post'>
                {{#each dataColumns}}
                    <div class="form-group">
                        {{#if this.notId}}
                            <label for="{{this.Column_name}}">{{this.Column_name}}</label>
                            {{#if this.isForeignKey1}}
                                <select class="form-control" name="{{this.Column_name}}" id="{{this.Column_name}}">
                                {{#each ../fk1}}
                                    <option value="{{this.fk_id}}" {{{selectOption "ptb.{{../this.Column_name}}" "{{this.fk_id}}"}}}>{{this.fk_id}} ({{this.fk_name}})</option>
                                {{/each}}
                                </select>
                            {{else if this.isForeignKey2}}
                                <select class="form-control" name="{{this.Column_name}}" id="{{this.Column_name}}">
                                {{#each ../fk2}}
                                    <option value="{{this.fk_id}}" {{{selectOption "ptb.{{../this.Column_name}}" "{{this.fk_id}}"}}}>{{this.fk_id}} ({{this.fk_name}})</option>
                                {{/each}}
                                </select>
                            {{else if this.isForeignKey3}}
                                <select class="form-control" name="{{this.Column_name}}" id="{{this.Column_name}}">
                                {{#each ../fk3}}
                                    <option value="{{this.fk_id}}" {{{selectOption "ptb.{{../this.Column_name}}" "{{this.fk_id}}"}}}>{{this.fk_id}} ({{this.fk_name}})</option>
                                {{/each}}
                                </select>
                            {{else if this.min}}
                                <input type={{this.Data_type}} min={{this.min}} class="form-control" id={{this.Column_name}} name={{this.Column_name}} placeholder="Enter {{this.Column_name}}">
                            {{else}}
                                <input type={{this.Data_type}} class="form-control" id="{{this.Column_name}}" name="{{this.Column_name}}" placeholder="Enter {{this.Column_name}}">
                            {{/if}}
                        {{/if}}
                    </div>
                {{/each}}
                <button type='submit'class="btn btn-primary">Submit</button>
        </form>
    {{else if idAdded}}
        <h3>{{title}} Added: ID = {{idAdded}}</h3>
        <a class="btn btn-outline-primary my-2 my-sm-0" href={{viewHref}} role="button">View {{title}}s</a>
        <a class="btn btn-outline-success my-2 my-sm-0" href={{addHref}} role="button">Add {{title}}</a>
    {{else}}
        <h3>Could not add new {{title}}</h3>
    {{/if}}
</div>