<table class="table table-bordered">
    <thead>
        <tr>
        <th colspan='7'>Mahinui Auto Shop Customers</th>
        </tr>

        <tr>
            <th scope="col">ID</th>
            <th scope="col">Customer ID</th>
            <th scope="col">License Plate</th>
            <th scope="col">Make</th>
            <th scope="col">Model Name</th>
            <th scope="col">Model Year</th>
            <th scope="col" colspan= "2">
            <form class="form-inline">
            <div class="input-group">
            <input type="text" name="filter" id="filter">
            <button id="search" type="button">Search</button>
            </div>
            </form>
            </th>
        </tr>
    </thead>

    {{#if dataRows}}
    <tbody>
        {{#each dataRows}}
        <tr id= "{{this.id}}">
            <th scope="row">{{this.id}}</td>
             <th scope="row">{{this.customer_id}}</td>
            <td>{{this.license_plate}}</td>
            <td>{{this.make}}</td>
            <td>{{this.model_name}}</td>
            <td>{{this.model_year}}</td>
            <td><button id= "{{this.id}}Update">Update</button>
            <button id= "{{this.id}}Delete">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
    {{/if}}
</table>
<br>
