<h2>{{title}} <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add</button></h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Contact Number</th>
            <th scope="col">Email Address</th>
            <th scope="col" colspan= "2">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" aria-label="Search">
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
            </form>
            </th>
        </tr>
    </thead>

    {{#if dataRows}}
    <tbody>
        {{#each dataRows}}
        <tr id= "{{this.id}}">
            <th scope="row">{{this.id}}</td>
            <td>{{this.f_name}}</td>
            <td>{{this.l_name}}</td>
            <td>{{this.contact_no}}</td>
            <td>{{this.email_address}}</td>
            <td><button type="button" class="btn btn-outline-warning">Update</button>
            <button type="button" class="btn btn-outline-danger">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
    {{/if}}
</table>
<br>
