<div class='container'>
<h3>{{title}}</h3>
<br><h6>
        {{directions}}
</h6><br>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">Customer Name</th>
            <th scope="col">Car Description</th>
            <th scope="col">Current Task</th>
            <th scope="col">Current Task Id</th>
            <th scope="col">Task Start Date</th>
            <th scope="col">Mechanic</th>
            </th>
        </tr>
    </thead>

    {{#if dataRows}}
    <tbody>
        {{#each dataRows}}
        <tr>
            <td>{{this.customer_name}}</td>
            <td>{{this.car_description}}</td>
            <td>{{this.work_task}}</td>
            <td>{{this.work_task_id}}</td>
            <td>{{formatDate this.start_date}}</td>
            <td>{{this.mechanic_name}}</td>
        </tr>
        {{/each}}
    </tbody>
    {{/if}}
</table>
<br>
</div>