<table>
    <thead>
        <tr>
            <th class= "title" colspan={{columnNumber}}>Dashboard {{tableName}}</th>
        </tr>
        {{#if columnNames}}
        <tr>
            {{#each columnNames}}
              <th>{{this}}</th>
            {{/each}}
            <th colspan= "2">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" aria-label="Search">
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
            </form>
            </th>
        </tr>
        {{/if}}
    </thead>

    {{#if dataResults}}
    <tbody>
      {{#each dataResults}}
			  <tr id= "{{this}}">
  			  <td style= "border: 1px solid black">{{this}}</td>
            <td><button type="button" class="btn btn-outline-warning">Update</button>
            <button type="button" class="btn btn-outline-danger">Delete</button></td>
			  </tr>
			{{/each}}
    </tbody>
    {{/if}}

</table>
<br>
