<table class="table table-bordered">
    <thead>
        <tr>
        <th colspan='9'>Mahinui Auto Shop Repair Orders</th>
        </tr>

        <tr>
            <th scope="col">ID</th>
            <th scope="col">Car ID</th>
            <th scope="col">Last Name</th>
            <th scope="col">Date Received</th>
            <th scope="col">Date Completed</th>
            <th scope="col">Parts Needed</th>
            <th scope="col">Current Status</th>
            <th scope="col" colspan= "2">
            <form class="form-inline">
            <div class="input-group">
            <input type="text" name="filter" id="filter">
            <button id="search" type="button">Search</button>
            </div>
            </form>
            </th>
        </tr>
    </thead>

    {{#if dataRows}}
    <tbody>
        {{#each dataRows}}
        <tr id= "{{this.id}}">
            <th scope="row">{{this.id}}</td>
            <td>{{this.car_id}}</td>
            <td>{{this.date_received}}</td>
            <td>{{this.date_needed}}</td>
            <td>{{this.parts_needed}}</td>
            <td>{{this.current_status}}</td>
            <td><button id= "{{this.id}}Update">Update</button>
            <button id= "{{this.id}}Delete">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
    {{/if}}
</table>
<br>
