<div class = 'container'>
    <h3>{{title}} 
        <a class="btn btn-outline-success my-2 my-sm-0" href={{backHref}} role="button">back</a>
    </h3>
    <br><h6>
        {{directions}}
    </h6><br>

    <table class="table table-bordered table-hover table-striped">
        <thead class= 'thead-dark'>
            {{#if dataColumns}}
            <tr>
                {{#each dataColumns}}
                    {{#each this}}
                    <th scope="col">{{.}}</th>
                    {{/each}}
                {{/each}}
            </tr>
            {{/if}}
        </thead>

        {{#if dataRows}}
        <tbody>
            {{#each dataRows}}
            <tr id= "{{this.id}}">
                {{#each this}}
                    <td>{{checkNull .}}</td>
                {{/each}}                
            </tr>
            {{/each}}
        </tbody>
        {{/if}}
    </table>
</div>
