<table class="table table-bordered">
    <thead>
        <tr>
        <th colspan='5'>Mahinui Auto Shop Customers</th>
        </tr>

        <tr>
            <th scope="col">Repair Order ID</th>
            <th scope="col">Work Task ID</th>
            <th scope="col">Mechanic ID</th>
            <th scope="col" colspan= "2">
            <form class="form-inline">
            <div class="input-group">
            <input type="text" name="filter" id="filter">
            <button id="search" type="button">Search</button>
            </div>
            </form>
            </th>
        </tr>
    </thead>

    {{#if dataRows}}
    <tbody>
        {{#each dataRows}}
        <tr id= "{{this.repair_order_id}}">
            <th scope="row">{{this.repair_order_id}}</td>
            <td>{{this.work_task_id}}</td>
            <td>{{this.mechanic_id}}</td>
            <td><button id= "{{this.repair_order_id}}Update">Update</button>
            <button id= "{{this.repair_order_id}}Delete">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
    {{/if}}
</table>
<br>
